* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #111;
  text-transform: capitalize;
}

.bg-icecream {
  background-color: rgb(104, 14, 14);
}

.footer {
  margin-top: 20px;
  background-color: black;
  padding: 80px 0;
}
.footer .container-footer {
  max-width: 1200px;
  margin: 0px auto;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-link {
  width: 25%;
  padding: 0 15px;
}
.footer .footer-links h4 {
  font-size: 20px;
  color: #5e5e5e;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #720c0c;
  padding-bottom: 10px;
  display: inline-block;
}
.footer .footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #720c0c;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.footer .footer-links ul li a:hover {
  background-color: #e70303;
  color: white;
  padding-left: 6px;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #720c0c;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.footer-links ul li a:hover {
  background-color: #e70303;
  color: white;
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #e70303;
  transition: all 0.5s ease;
}

.social-link a:hover {
  background-color: red;
}

.hero-card- {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
}

.hero-card- img {
  width: 100%;
  height: 500px;
}

.hero-tittle-lorem {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  height: auto;
  padding: 100px;
  background-color: #111;
  color: rgb(248, 242, 242);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 450px;
  opacity: 0.5;
}

.container-hero {
  border: 5%;
  border-radius: 25%;
  width: 100%;
  height: 25%;
  background-color: rgb(255, 255, 255);
}

.container-tittle {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 10px;
  border-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(104, 14, 14);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 35%;
  margin-top: 10px;
}

.container-tittle:hover {
  background-color: rgb(7, 7, 7);
  border: 10px;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  box-shadow: 3px 3px 13px 5px rgb(199, 12, 12);
}

.hero-container-ambientes {
  margin-top: 50px;
}

.hero-card-content-ambientes {
  background: linear-gradient(45deg, rgb(148, 6, 6) black);
  color: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}

.hero-card-ambientes {
  display: flex;
  margin-top: 10px;
  border: 10px solid rgb(78, 78, 78);
}

.hero-card-ambientes img {
  width: 50%;
  height: 600px;
  object-fit: cover;
  gap: 10px;
}

.card-container {
  padding: 10px;
  background-color: rgb(148, 6, 6);
  color: #ffffff;
  border: 5px solid rgb(15, 12, 12);
  border-color: rgb(0, 0, 0);
  width: 33%;
  height: 90%;
}

.hero-card-content-ambientes {
  display: flex;
  background: linear-gradient(45deg, rgb(0, 0, 0) rgb(255, 0, 0));
  align-items: center;
  color: #000000;
  width: 100%;
  height: 100%;
  padding: 15px;
  margin-top: 20px;
  flex-direction: row;
  border: 5px;
  border-radius: 5%;
  gap: 15px;
  justify-content: center;
  position: relative;
}

.hero-card-content-ambientes :hover {
  background-color: #e70303;
  flex-direction: column;
  color: azure;
  border: 20px;
  box-shadow: 8px 8px 20px 10px rgb(0, 0, 0);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #000000;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container- {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  height: 50%;
  margin-top: 20px;
}

.card-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 5px;
  gap: 25px;
}

.content-total {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #5e5e5e;
  width: 100%;
  height: 500px;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px;
  border-radius: 5%;
  justify-content: space-between;
  width: 100%;
  height: 470px;
}

.hero- {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .hero-card-content-ambientes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(45deg, black, transparent);
    color: #ffffff;
  }
}
@media (max-width: 768px) {
  .hero-card-ambientes, .hero-card-ambientes img {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .hero-card-content-ambientes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(45deg, white, red);
    color: #030303;
    height: 100%;
  }
}
@media (max-width: 480px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: rgb(158, 0, 0);
    color: #ffffff;
  }
}
.contenedor-hab {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.contenedor-habitacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(../assets/photo-1653204095671-3ed81a4bc561.avif);
  width: 100%;
  height: 100%;
}

.cardmb-3 {
  margin-top: 80px;
  width: 100%;
  height: 100%;
  background-color: darkred;
}

.cardmb-3:hover {
  border: 10px;
  border-radius: 5%;
  box-shadow: 8px 8px 20px 10px rgb(0, 0, 0);
}

.contenedor-habitacion:hover {
  border: 10px;
  border-radius: 5%;
  box-shadow: 3px 3px 13px 5px rgb(199, 12, 12);
}

.card-img-top {
  margin-top: 20px;
  width: auto;
  height: 300px;
}

.carrousel-complete {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  height: 500px;
}

.carrousel-container {
  gap: 10px;
  margin-top: 100px;
  height: 400px;
}

.carousel-inner, .carrousel-item {
  height: 100%;
  object-fit: cover;
}

.carrousel-item {
  height: 100%;
  object-fit: cover;
}

.carrousel-inner img {
  width: 50%;
  height: 200px;
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  background-color: rgb(241, 247, 248);
  color: rgb(14, 12, 12);
  width: 100px;
  height: 40px;
  align-self: flex-end;
}

.carousel-control-prev {
  display: flex;
  text-align: center;
  align-items: center;
  color: red;
  background-color: black;
}

.carousel-control-next {
  color: red;
  background-color: black;
}

.hero {
  background-image: url(../assets/terraza\ 1.jpg);
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.hero h1 {
  font-weight: bold;
}

.btn-primary {
  background-color: rgb(0, 0, 0);
  border-radius: 5%;
  color: red;
  font-size: 24px;
  border: none;
}

.row {
  background-color: #616161;
  color: white;
  margin: 0;
  height: 150px;
  justify-content: space-around;
}

.card {
  border: none;
}

.btn-primary:hover .btn-primary:focus, .btn-primary:active {
  border: 2px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.card-total {
  margin: 20px;
  height: 800px;
  background-color: #030303;
}

.card-body {
  width: 100%;
  height: 100%;
  border: 10px;
  color: white;
  background-color: rgb(192, 20, 20);
}

.card-body:hover {
  border: 10px;
  border-radius: 5%;
  box-shadow: 8px 8px 20px 10px rgb(0, 0, 0);
}

.card-body {
  width: 100%;
  height: 100%;
  border: 0;
  color: white;
  background-color: rgb(192, 20, 20);
}

.hero- {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px;
  border-radius: 5%;
  justify-content: space-between;
  width: 100%;
  height: 470px;
}

.container.contact {
  display: flex;
  width: 100%;
  height: 1000px;
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
