.row-1 {
    margin-top: 50px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    background: linear-gradient( rgb(0, 0, 0), rgb(255, 0, 0));
    text-align: center;
    align-items: center;
    width: 100%;

    .tittle-amb {
      display: flex;
      padding: 0 40%;
      text-align: center;
      align-items: center;
      font-size: 50px;
      width: auto;
    }

    
    
  }
  
  .tittle-amb {
    display: flex;
    padding: 0 40%;
    text-align: center;
    align-items: center;
    font-size: 50px;
    width: auto;
  }
  
  @keyframes aparecer {
    from{
      opacity: 0;
    }
  
    to {
      opacity: 2;
    }
  }
  @media (max-width: 400px) {
    .tittle-amb, .row-1 {
      display: flex;
      justify-content: center;
      font-size: 20px ;
      padding: 0 40px;
      height: 100px;
      text-align: center;
      align-items: center;
      width: auto;
    }
  
  }
  
  .tittle-amb, .row-1 {
    animation: aparecer 2s ease-in-out infinite;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  
  .hero-container-ambientes {
    margin-top: 20px;
  }
  .hero-container-ambientes .hero-card-content-ambientes {
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
  }
  .hero-container-ambientes .hero-card-ambientes {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border: 10px solid rgb(78, 78, 78);
  }
  .hero-card-ambientes img {
    width: 50%;
    height: 85vh;
    object-fit: cover;
    position: relative;
    gap: 10px;
  }
  
  
  
  .hero-container-ambientes .hero-card-content-ambientes {
    display: flex;
    background: linear-gradient(45deg, black, red);
    align-items: center;
    color: #ffffff;
    width: 100%;
    height: auto;
    padding: 15px;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    position: relative;
  }
  
  
  
  
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    height: 100%;
    width:100%;
    gap: 20px;
  }
   
  .card-container {
    margin-top: 20px;
    background-color: #b61212;
    gap: 0 15px
  }
 
  .card-container img {
    width:100%;
    height: 60%;
    object-fit: cover;
    gap: 20px;
  }
  
  
  
  .container-lorem {
    background-color: $main-Color;
    color: white;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    height: auto
    
  }
  
  
  .display-6 {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    align-items: center;
    width: 400px;
    padding: 0 60px;
  }
  
  @keyframes mover {
    from {
      transform: translateX(350px);
    }
    to {
      transform: translateX(680px);
    }
  }
  
  @media (max-width: 400px) {
    @keyframes mover {
      from {
        transform:translateX(0px)
      }
      to {
        transform: translateX(40px);
      }
    }
  }
  
  
  .display-6 {
    animation: mover 2s ease-in-out infinite; /* Aplicando la animación */
  }